* {
  box-sizing: border-box;
}
body {
  font-family: "Epilogue", sans-serif;
}
.accordion-content {
  display: none;
}

input:checked + label + .accordion-content {
  display: block;
}

input:checked + label img {
  transform: rotate(180deg);
}
.map-bg {
  background-image: url("./images/map.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media (max-width: 1023px) {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
